body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#current{
    color:black;
}
.navbar,.jumbotron{
    background-color: #c32419;
}
.btn1{
    background-color: #c32419;
}
hr{
    color: white;
}
.carousel {
    width:95%;
    height:30%;
    margin: auto;
  }
  .footer {
    /* position: relative;
    left: 0;
    bottom: 0; */
    width: 100%;
    padding: 1%;
    background-color: #c32419;
    color: white;
    text-align: center;
  }

